Name: `Christian Jay Baguio` </br>
Course: `Exploratory Data Analysis`

# About the data

### Food consumption
Description:	The relative consumption of certain food items in European and Scandinavian countries. The numbers represent the percentage of the population consuming that food type.

Data source:	Uncertain.

Data shape:	16 rows and 20 columns

Usage restrictions:	Unknown

Contact person:	Kevin Dunn

Contact details:	kgdunn@gmail.com

Added here on:	27 March 2011 20:05

Last updated:	11 November 2018 16:33

# Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('food-consumption.csv')
df.head()

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.0,51,19,21,27,...,81,75,44,71,22,91,85,74,30.0,26
1,Italy,82,10,60,2.0,55.0,41,3,2,4,...,67,71,9,46,80,66,24,94,5.0,18
2,France,88,42,63,4.0,76.0,53,11,23,11,...,87,84,40,45,88,94,47,36,57.0,3
3,Holland,96,62,98,32.0,62.0,67,43,7,14,...,83,89,61,81,15,31,97,13,53.0,15
4,Belgium,94,38,48,11.0,74.0,37,23,9,13,...,76,76,42,57,29,84,80,83,20.0,5

Check for nan values.

In [3]:
df.isna().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         1
Biscuits          1
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           1
Crisp bread       0
dtype: int64

In [8]:
df.describe()

,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,Frozen veggies,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,78.562500,39.250000,78.500000,18.000000,60.666667,49.000000,18.312500,12.750000,21.875000,15.87500,66.812500,70.500000,41.937500,55.187500,42.312500,75.812500,69.125000,54.187500,20.533333,27.750000
std,23.145824,23.147354,18.540047,10.532489,19.168261,15.427249,20.178268,9.574271,13.980343,12.78997,17.581122,14.033294,23.256451,22.592679,34.677022,20.910026,26.849891,28.842604,18.337091,25.026652
min,27.000000,10.000000,40.000000,2.000000,22.000000,27.000000,1.000000,2.000000,4.000000,2.00000,22.000000,42.000000,8.000000,16.000000,5.000000,31.000000,24.000000,13.000000,2.000000,3.000000
25%,71.500000,17.000000,62.500000,11.000000,56.500000,36.250000,3.750000,6.500000,13.750000,6.50000,56.750000,65.250000,28.000000,40.250000,11.000000,64.500000,47.750000,29.500000,5.750000,10.500000
50%,89.000000,39.000000,84.500000,18.500000,62.000000,47.000000,11.500000,10.000000,19.500000,13.00000,71.500000,72.000000,43.000000,54.000000,25.500000,83.000000,79.000000,52.500000,14.500000,21.000000
75%,96.000000,54.250000,92.250000,25.750000,74.500000,58.000000,20.000000,17.000000,26.250000,21.50000,81.000000,77.250000,50.750000,72.000000,81.500000,94.000000,94.000000,83.250000,30.250000,31.000000
max,98.000000,86.000000,99.000000,35.000000,91.000000,75.000000,76.000000,39.000000,54.000000,45.00000,87.000000,94.000000,89.000000,91.000000,91.000000,97.000000,97.000000,94.000000,57.000000,93.000000

In [10]:
#check mean for each attributes
mean = df.mean()
mean

C:\Users\ATARA\AppData\Local\Temp\ipykernel_18376\2523297653.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean = df.mean()

Real coffee       78.562500
Instant coffee    39.250000
Tea               78.500000
Sweetener         18.000000
Biscuits          60.666667
Powder soup       49.000000
Tin soup          18.312500
Potatoes          12.750000
Frozen fish       21.875000
Frozen veggies    15.875000
Apples            66.812500
Oranges           70.500000
Tinned fruit      41.937500
Jam               55.187500
Garlic            42.312500
Butter            75.812500
Margarine         69.125000
Olive oil         54.187500
Yoghurt           20.533333
Crisp bread       27.750000
dtype: float64

In [6]:
#Fill each attributes with nan values with their mean values
df = df.fillna(df.mean())
df

C:\Users\ATARA\AppData\Local\Temp\ipykernel_18376\983163164.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())

,Country,Real coffee,Instant coffee,Tea,Sweetener,Biscuits,Powder soup,Tin soup,Potatoes,Frozen fish,...,Apples,Oranges,Tinned fruit,Jam,Garlic,Butter,Margarine,Olive oil,Yoghurt,Crisp bread
0,Germany,90,49,88,19.0,57.000000,51,19,21,27,...,81,75,44,71,22,91,85,74,30.000000,26
1,Italy,82,10,60,2.0,55.000000,41,3,2,4,...,67,71,9,46,80,66,24,94,5.000000,18
2,France,88,42,63,4.0,76.000000,53,11,23,11,...,87,84,40,45,88,94,47,36,57.000000,3
3,Holland,96,62,98,32.0,62.000000,67,43,7,14,...,83,89,61,81,15,31,97,13,53.000000,15
4,Belgium,94,38,48,11.0,74.000000,37,23,9,13,...,76,76,42,57,29,84,80,83,20.000000,5
5,Luxembourg,97,61,86,28.0,79.000000,73,12,7,26,...,85,94,83,20,91,94,94,84,31.000000,24
6,England,27,86,99,22.0,91.000000,55,76,17,20,...,76,68,89,91,11,95,94,57,11.000000,28
7,Portugal,72,26,77,2.0,22.000000,34,1,5,20,...,22,51,8,16,89,65,78,92,6.000000,9
8,Austria,55,31,61,15.0,29.000000,33,1,5,15,...,49,42,14,41,51,51,72,28,13.000000,11
9,Switzerland,73,72,85,25.0,31.000000,69,10,17,19,...,79,70,46,61,64,82,48,61,48.000000,30
10,Sweden,97,13,93,31.0,60.666667,43,43,39,54,...,56,78,53,75,9,68,32,48,2.000000,93
11,Denmark,96,17,92,35.0,66.000000,32,17,11,51,...,81,72,50,64,11,92,91,30,11.000000,34
12,Norway,92,17,83,13.0,62.000000,51,4,17,30,...,61,72,34,51,11,63,94,28,2.000000,62
13,Finland,98,12,84,20.0,64.000000,27,10,8,18,...,50,57,22,37,15,96,94,17,20.533333,64
14,Spain,70,40,40,18.0,62.000000,43,2,14,23,...,59,77,30,38,86,44,51,91,16.000000,13
15,Ireland,30,52,99,11.0,80.000000,75,18,2,5,...,57,52,46,89,5,97,25,31,3.000000,9

Check again for nan values.

In [7]:
df.isna().sum()

Country           0
Real coffee       0
Instant coffee    0
Tea               0
Sweetener         0
Biscuits          0
Powder soup       0
Tin soup          0
Potatoes          0
Frozen fish       0
Frozen veggies    0
Apples            0
Oranges           0
Tinned fruit      0
Jam               0
Garlic            0
Butter            0
Margarine         0
Olive oil         0
Yoghurt           0
Crisp bread       0
dtype: int64